@font-face {
    font-family: "m";
    src: url("../../rg/fonts/m/BeVietnamPro-Black.ttf");
}

@font-face {
    font-family: "l";
    src: url("../../rg/fonts/m/BeVietnamPro-ExtraLight.ttf");
}

body {
    font-family: "m";
}