.contact {
    width: 100%;
    @include flex(auto, auto, column);
    scroll-margin-top: 3.1rem;

    & > div{
        width: 70%;
        background-color: #0b0b0b;
        margin: 0 auto;
        color: white;
        padding: 2.5rem;
        text-align: center;
    }

    & h2 {
        margin-bottom: 2.2rem;
        letter-spacing: .2rem;
        font-size: 1.7rem;
    }

    & form {
        @include flex(center, center, column);
        gap: 1.5rem;
        
        & input, textarea, button {
            width: 60%;
            border-radius: .5rem;
            padding: 0 .5rem;
            background-color: transparent;
            border: 1px solid rgb(168, 167, 167);
            color: white;
            font-weight: bold;
        }

        & input {
            height: 2.5rem;
        }

        & textarea {
            padding-top: .5rem;
        }

        & button {
            background-color: var(--orange);
            border-radius: 2rem;
            border: none;
            padding: 1rem 3rem;
            color: white;
            text-transform: uppercase;
            letter-spacing: .1rem;
            transition: background-color .3s;
        
            &:hover {
                background-color: orangered;
            }
        }
    }

    & ul {
        display: flex;
        gap: .8rem;
        margin: 2rem auto;
        width: fit-content;
    
        & a:hover > svg{
            fill: #ff671f;
        }

        & svg {
            fill: #b8b7b7;
            width: 1.2rem;
            height: 1.2rem;
            transition: fill .2s;
        }

    }

}